__pycache__/
*.py[cod]
*$py.class

Extraction/
tfrecord_cache_10percent/
cxr_embeddings_10percent/
medmnist/

*.pth
*.pt
checkpoints_*/

*.log
synapse_resumable.log

venv/
.env

.ipynb_checkpoints/

docs/*.aux
docs/*.lof
docs/*.log
docs/*.lot
docs/*.out
docs/*.toc
docs/*.synctex.gz
docs/*.pdf
docs/*.bbl
docs/*.blg
docs/*.fdb_latexmk
docs/*.fls

