torch
torchvision
timm
medmnist
pypng
opencv-python-headless
scikit-image
transformers
sentencepiece
huggingface_hub
tensorflow-text
torchcp
numpy
pandas
scipy
scikit-learn
statsmodels
seaborn
matplotlib
umap-learn
tqdm
cupy-cuda12x
cucim-cu12